

body{background: #ccc;
	font-size: 18px;
	line-height: 27px;
}


header{ padding: 0px;
	  color: #333;
	  background: #ccc;
	  text-align: center;
	  border: solid;
	  margin: auto;
	  margin-bottom: auto;
	/*  overflow: auto;*/
	  }
	
.wrapper{

	width: 1024px;
	margin: 40px auto;  
}

#main-content,
#sidebar {
	width: 500px;
	margin: 30px;
}

#main-content {
	float: left;
	background: #fff;
}


#sidebar{
	float: right;
	background: #eee;
}



@media screen (max-width: 768px)
{
body {

	background-color: #333;
}



.wrapper{

	width: 100%;
	padding: 20px; 
}

#main-content,
#sidebar{

	width: 100%;
}

#sidebar{
	margin-top: 40px;
}

}